################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aula6/LojaConstrucao/.vs/LojaConstrucao/FileContentIndex
/SisCad
/.gitignore
/.gitignore
/Aula7/Siscad/bin/Debug/net8.0
/Aula7/Siscad/obj/Debug/net8.0
/Aula7/Siscad/.vs/Siscad
