################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aula6/LojaConstrucao/.vs/LojaConstrucao/FileContentIndex
/SisCad
/.gitignore
/.gitignore
