################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aula6/LojaConstrucao/.vs/LojaConstrucao/FileContentIndex
/SisCad
/.gitignore
/.gitignore
/Aula7/Siscad/bin/Debug/net8.0
/Aula7/Siscad/obj/Debug/net8.0
/Aula7/Siscad/.vs/Siscad
/Aula10/AulaIdenity/AulaIdenity/obj/Release/net8.0
/.vs/ASP_NET_8
/Aula2
/Aula3
/Aula4/NavegacaoBasica/obj/Release/net8.0
/Aula5/Loja/obj/Release/net8.0
/Aula5/Loja/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Aula6/LojaConstrucao/Loja/obj/Release/net8.0
/Aula7/Siscad/obj/Release/net8.0
/Aula9/CrudEntity/obj/Release/net8.0
/.vs
*.vsidx
/Aula4/.vs/ProjectEvaluation
/Aula1/.vs
/Aula11/ExercicioAula11_CadastroAlunoEntity
/Aula6/LojaConstrucao/.vs/ProjectEvaluation
/Aula5/.vs/ProjectEvaluation
/Aula15/MinimalAPI/.vs
/.gitignore
/.gitignore
