@model Cliente

<h2>Excluir Cliente</h2>

<h3>Tem certeza de que deseja excluir o cliente '@Model.NomeCliente' ?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="IdCliente" />
    <div>
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>