@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Controller: Funcionario </h1>
<h2>Action: Index</h2>

<button type="button" class="btn btn-outline-danger">Deletar Cliente</button>