@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>@ViewData["Saudacao"]</h1>
Sua idade é de: @ViewData["Idade"]

@{
    int idade = int.Parse(ViewData["Idade"].ToString());
}

@if (idade > 18)
{
    <h3 class="alert alert-success"> Pode Entrar </h3>
}
else
{
    <h3 class="alert alert-danger"> Não Pode Entrar </h3>

}

<hr />

<ol>
    @for (int i = 0; i <= idade; i++ )
    {
        <li>@ViewData["Saudacao"]</li>
    }

</ol>

